/* ==== TECHNOLOGY PAGE ==== */
button {
    cursor: pointer;
}

.tech-section { 
    width: 100%;
    height: 100vh;
    color: var(--white);
    background-image: url('/assets/images/technology/background-technology-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase; 
}

.tech-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.tech-img {
    grid-area: image;
}

.tech-dots {
    grid-area: dots;
}

.tech-text-box {
    grid-area: text;
}

.tech-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title"
        "image"
        "dots"
        "text";
    height: 80vh;
    text-align: center;
}

.tech-dots {
    display: flex;
    justify-content: center;
}

.dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white25);
    margin: 20px 10px;
}

.dot:hover {
    background-color: var(--white25);
}

.tech-dots .active {
    color: var(--black);
    background-color: var(--white);
    transition: all 400ms ease-in-out;
}

.tech-img {
    line-height: 0;
}

.tech-img img {
    width: 100%;
    height: auto;
}

.tech-hr {
    background: hsla(231, 15%, 26%, 1);
    width: 327px;
    height: 1px;
    margin:  0 auto;
}

.tech-terminology {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.tech-name {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
}

.tech-text {
    height: 150px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-transform: none;
    padding: 0 20px;
    color: var(--grey);
}

/* ==== MEDIA QUERIES ==== */
/* Tablet */
@media screen and (min-width: 768px) {
    .tech-section {
        background-image: url('/assets/images/technology/background-technology-tablet.jpg');
    }

    .tech-container {
        justify-content: flex-end;
        height: 98%;
    }

    .dot {
        width: 90px;
        height: 90px;
        font-size: 40px;
        margin: 20px;
    }

    .tech-terminology {
        font-size: 45px;
    }

    .tech-text {
        font-size: 30px;
    }

    .tech-text {
        max-width: 600px;
        margin: auto;
        font-size: 19px;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    .tech-section {
        background-image: url('/assets/images/technology/background-technology-desktop.jpg');
        background-position-y: -200px;
    }   

    .tech-container {
        justify-content: center;
        height: 100%;
    }

    .tech-grid {
        grid-template-columns: .75fr 1.5fr 1fr;
        grid-template-rows: 1fr 1.5fr 1fr;
        justify-items: center;
        align-items: center;
        height: 100vh;
    }
    
    .tech-text-box {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-column-end: 2;
        grid-row-end: 3;
        width: 650px;
    }

    .tech-hr {
        display: none;
    }

    .tech-terminology {
        font-size: 50px;
        line-height: 54px;
        opacity: .25;
        text-align: left;
    }

    .tech-name {
        font-size: 56px;
        line-height: 64px;
        text-align: left;
        margin-bottom: 10px;
    }

    .tech-text {
        text-align: left;
        width: 450px;
        padding: 0;
        margin: 5px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }

    .tech-dots {        
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 4;
        flex-direction: column;
        justify-self: end;
    }

    .dot {
        width: 80px;
        height: 80px;
        font-family: 'Bellair';
        font-size: 32px;
    }

    .tech-img {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-column-end: 5;
        grid-row-end: 3;
        justify-self: end;
    }

}

/* @media screen and (min-width: 629px) and (max-width: 1023px) {
    .tech-grid {
        grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
    }
} */